
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12 bg_color">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Mot de passe oublié</h1>
                            </div>
                            <form class="user" #userForm='ngForm'> 

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="matricule"
                                            placeholder="Matricule ou CIN"name="matricule" [(ngModel)] ="user.matricule" required>
                                            <br>
                                        <div *ngIf="user.matricule==null && actifError " class="alert alert-danger error-control-user">
                                            Matriculeou CIN est obligatoire
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Adresse email"
                                        name="email" [(ngModel)] ="user.email" required>
                                        <br>
                                        <div *ngIf="!emailFormat" class="alert alert-danger error-control-user">
                                            Email est obligatoire
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-primary btn-user btn-block" (click) ="modifierMotPasse()">
                                    Validez
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" routerLink="/connexion" routerLinkActive="active">Je me rappelle de mon mot de passe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>